/* main css for rps_game */

body {
	margin: 0;
	padding: 0;
	background: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: #787878;
}

#wrapper {
	margin: 0px 20px 0px 20px;
}

h1, h2, h3 {
	margin: 0;
	padding: 3px;
	font-weight: bold;
	color: #000000;
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }

a {
	text-decoration: none;
	color: #000053;
}

a:hover {
	color: #999999;
	text-decoration: underline;
}

/* HEADER */
header {
	margin-left: 30px;
	margin-top: 10px;
}

header h1 { color: #0000CD; }

/* NAV */
nav {
	width: 100%;
	height: 36px;
	background: #000;
}

nav ul {
	list-style: none;
	line-height: normal;
}

nav li a {
	float: left;
	color: #FFF;
	padding: 10px 15px 0px 15px;
}

p {
	margin-right: 100px;
	line-height: 1.3;
}

/* CONTENT */
#content { margin: 10px; }

/* FOOTER */
footer {
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	background: #B3B3B3;
	font-size: 90%;
}

