/* CSS for MediaMaster :: 67-103 Exercise 2 */

body {
	margin: 0;
	padding: 0;
	background: #F7F7F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #0066CD;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	color: #EE2177;
}

h1 { font-size: 2em; }
h2 { 
	font-size: 1.4em; 
	color: #2177EE;
	margin-left: 20px;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: #CD66CD;
}

a:hover {
	color: #999999;
	text-decoration: underline;
}

/* HEADER */
header{
	margin-left: 30px;
	margin-top: 10px;
}

header h1 { color: #3F9FFF; }

/* NAV */
nav {
	width: 100%;
	height: 36px;
	background: #000;
}

nav ul {
	list-style: none;
	line-height: normal;
}

nav li a {
	float: left;
	color: #DFDFFF;
	padding: 10px 15px 0px 15px;
}
/* CONTENT */
#content { margin: 10px; }

/* FOOTER */
footer{
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	background: #C8DFFF;
	font-size: 90%;
	color: black;
}

/* TABLE */
table {
	width: 90%;
	margin-left: 10px;
	padding: 15px;
	cellspacing: 10px;
	border-collapse:collapse;
}

thead {
	background: #787878;
	color: #FFF;
	vertical-align: center;
	height: 80px;
	border: solid 1.5px #000;

}

table .title { 
	width: 200px;
	vertical-align: top;
	color: #666666;
}

table .year { 
	width: 80px;
	vertical-align: top;
	text-align: center;
}


tr { border-bottom: solid 1.5px #000; }
th { padding: 5px; }
td { padding: 10px; }